Install packages

In [41]:
import pandas as pd

In [42]:
import matplotlib.pyplot as plt

In [43]:
import seaborn as sns

In [44]:
import numpy as np

In [45]:
import warnings
warnings.filterwarnings('ignore')

In [46]:
%matplotlib inline

Read Data

In [47]:
data = pd.read_csv("cowin_vaccine_data_districtwise.csv", low_memory=False)

 Forward fill NaN value

In [48]:
data.fillna(data.mean(), inplace=True)

 Take the required value for analysis
 Total Sessions Conducted

In [49]:
x = []
y = 7
for i in range(139):
    x.append(y)
    y += 10

In [50]:
x

[7,
 17,
 27,
 37,
 47,
 57,
 67,
 77,
 87,
 97,
 107,
 117,
 127,
 137,
 147,
 157,
 167,
 177,
 187,
 197,
 207,
 217,
 227,
 237,
 247,
 257,
 267,
 277,
 287,
 297,
 307,
 317,
 327,
 337,
 347,
 357,
 367,
 377,
 387,
 397,
 407,
 417,
 427,
 437,
 447,
 457,
 467,
 477,
 487,
 497,
 507,
 517,
 527,
 537,
 547,
 557,
 567,
 577,
 587,
 597,
 607,
 617,
 627,
 637,
 647,
 657,
 667,
 677,
 687,
 697,
 707,
 717,
 727,
 737,
 747,
 757,
 767,
 777,
 787,
 797,
 807,
 817,
 827,
 837,
 847,
 857,
 867,
 877,
 887,
 897,
 907,
 917,
 927,
 937,
 947,
 957,
 967,
 977,
 987,
 997,
 1007,
 1017,
 1027,
 1037,
 1047,
 1057,
 1067,
 1077,
 1087,
 1097,
 1107,
 1117,
 1127,
 1137,
 1147,
 1157,
 1167,
 1177,
 1187,
 1197,
 1207,
 1217,
 1227,
 1237,
 1247,
 1257,
 1267,
 1277,
 1287,
 1297,
 1307,
 1317,
 1327,
 1337,
 1347,
 1357,
 1367,
 1377,
 1387]

 Select the columns

In [51]:
valid_data = data.iloc[:, x]

In [52]:
valid_data

,16/01/2021.1,17/01/2021.1,18/01/2021.1,19/01/2021.1,20/01/2021.1,21/01/2021.1,22/01/2021.1,23/01/2021.1,24/01/2021.1,25/01/2021.1,...,25/05/2021.1,26/05/2021.1,27/05/2021.1,28/05/2021.1,29/05/2021.1,Unnamed: 1347,Unnamed: 1357,Unnamed: 1367,Unnamed: 1377,Unnamed: 1387
0,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,...,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted,Total Sessions Conducted
1,0,0,0,0,0,0,0,3,5,7,...,373,300,20,10,0,NaN,NaN,NaN,NaN,NaN
2,0,0,0,0,0,6,11,11,15,15,...,1300,300,1180,1400,1311,NaN,NaN,NaN,NaN,NaN
3,2,5,9,12,16,16,18,18,18,21,...,2784,2185,1785,2690,2180,NaN,NaN,NaN,NaN,NaN
4,28,87,122,197,264,364,446,497,517,529,...,21000,84860,135250,107250,52090,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,1,16,17,27,55,67,69,84,92,94,...,19800,13996,19946,24946,16343,NaN,NaN,NaN,NaN,NaN
752,0,5,10,10,12,18,20,24,30,30,...,15590,7390,4010,6160,12590,NaN,NaN,NaN,NaN,NaN
753,6,14,25,25,45,47,54,61,65,78,...,25724,11500,18868,29445,26544,NaN,NaN,NaN,NaN,NaN
754,NaN,7,16,22,35,46,46,50,50,62,...,9462,7500,8040,13735,9620,NaN,NaN,NaN,NaN,NaN
755,2,8,14,14,59,76,84,84,84,87,...,16644,14808,17037,18906,15074,NaN,NaN,NaN,NaN,NaN

Droping down unwanted columns

In [53]:
valid_data.drop('Unnamed: 1347', axis=1, inplace=True)
valid_data.drop('Unnamed: 1357', axis=1, inplace=True)
valid_data.drop('Unnamed: 1367', axis=1, inplace=True)
valid_data.drop('Unnamed: 1377', axis=1, inplace=True)
valid_data.drop('Unnamed: 1387', axis=1, inplace=True)

Drop the first row

In [54]:
valid_data.drop(0, axis=0, inplace=True)

In [55]:
valid_data

,16/01/2021.1,17/01/2021.1,18/01/2021.1,19/01/2021.1,20/01/2021.1,21/01/2021.1,22/01/2021.1,23/01/2021.1,24/01/2021.1,25/01/2021.1,...,20/05/2021.1,21/05/2021.1,22/05/2021.1,23/05/2021.1,24/05/2021.1,25/05/2021.1,26/05/2021.1,27/05/2021.1,28/05/2021.1,29/05/2021.1
1,0,0,0,0,0,0,0,3,5,7,...,350,223,367,300,189,373,300,20,10,0
2,0,0,0,0,0,6,11,11,15,15,...,1460,1460,1460,0,1000,1300,300,1180,1400,1311
3,2,5,9,12,16,16,18,18,18,21,...,3802,2720,3286,1900,2928,2784,2185,1785,2690,2180
4,28,87,122,197,264,364,446,497,517,529,...,8400,9150,14950,200,11800,21000,84860,135250,107250,52090
5,63,92,136,184,296,492,552,646,741,754,...,7130,10070,6054,220,18322,16400,48401,130630,118700,104050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,1,16,17,27,55,67,69,84,92,94,...,15660,30799,16102,11620,26126,19800,13996,19946,24946,16343
752,0,5,10,10,12,18,20,24,30,30,...,1054,1000,8379,3110,34890,15590,7390,4010,6160,12590
753,6,14,25,25,45,47,54,61,65,78,...,7393,8054,6281,20427,33037,25724,11500,18868,29445,26544
754,NaN,7,16,22,35,46,46,50,50,62,...,3740,3810,3700,0,5100,9462,7500,8040,13735,9620
755,2,8,14,14,59,76,84,84,84,87,...,2277,4550,6970,1900,16224,16644,14808,17037,18906,15074

In [56]:
valid_data = valid_data.dropna()

 Split data into independent and dependent variable

In [57]:
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

In [58]:
X

,16/01/2021.1,17/01/2021.1,18/01/2021.1,19/01/2021.1,20/01/2021.1,21/01/2021.1,22/01/2021.1,23/01/2021.1,24/01/2021.1,25/01/2021.1,...,19/05/2021.1,20/05/2021.1,21/05/2021.1,22/05/2021.1,23/05/2021.1,24/05/2021.1,25/05/2021.1,26/05/2021.1,27/05/2021.1,28/05/2021.1
1,0,0,0,0,0,0,0,3,5,7,...,300,350,223,367,300,189,373,300,20,10
2,0,0,0,0,0,6,11,11,15,15,...,1210,1460,1460,1460,0,1000,1300,300,1180,1400
3,2,5,9,12,16,16,18,18,18,21,...,3200,3802,2720,3286,1900,2928,2784,2185,1785,2690
4,28,87,122,197,264,364,446,497,517,529,...,7900,8400,9150,14950,200,11800,21000,84860,135250,107250
5,63,92,136,184,296,492,552,646,741,754,...,14940,7130,10070,6054,220,18322,16400,48401,130630,118700
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,9,18,56,56,69,70,70,116,119,123,...,4682,2946,1195,945,380,16509,1325,2600,4471,14232
751,1,16,17,27,55,67,69,84,92,94,...,13035,15660,30799,16102,11620,26126,19800,13996,19946,24946
752,0,5,10,10,12,18,20,24,30,30,...,3080,1054,1000,8379,3110,34890,15590,7390,4010,6160
753,6,14,25,25,45,47,54,61,65,78,...,5890,7393,8054,6281,20427,33037,25724,11500,18868,29445
755,2,8,14,14,59,76,84,84,84,87,...,2810,2277,4550,6970,1900,16224,16644,14808,17037,18906

In [59]:
valid_data

,16/01/2021.1,17/01/2021.1,18/01/2021.1,19/01/2021.1,20/01/2021.1,21/01/2021.1,22/01/2021.1,23/01/2021.1,24/01/2021.1,25/01/2021.1,...,20/05/2021.1,21/05/2021.1,22/05/2021.1,23/05/2021.1,24/05/2021.1,25/05/2021.1,26/05/2021.1,27/05/2021.1,28/05/2021.1,29/05/2021.1
1,0,0,0,0,0,0,0,3,5,7,...,350,223,367,300,189,373,300,20,10,0
2,0,0,0,0,0,6,11,11,15,15,...,1460,1460,1460,0,1000,1300,300,1180,1400,1311
3,2,5,9,12,16,16,18,18,18,21,...,3802,2720,3286,1900,2928,2784,2185,1785,2690,2180
4,28,87,122,197,264,364,446,497,517,529,...,8400,9150,14950,200,11800,21000,84860,135250,107250,52090
5,63,92,136,184,296,492,552,646,741,754,...,7130,10070,6054,220,18322,16400,48401,130630,118700,104050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
750,9,18,56,56,69,70,70,116,119,123,...,2946,1195,945,380,16509,1325,2600,4471,14232,8441
751,1,16,17,27,55,67,69,84,92,94,...,15660,30799,16102,11620,26126,19800,13996,19946,24946,16343
752,0,5,10,10,12,18,20,24,30,30,...,1054,1000,8379,3110,34890,15590,7390,4010,6160,12590
753,6,14,25,25,45,47,54,61,65,78,...,7393,8054,6281,20427,33037,25724,11500,18868,29445,26544
755,2,8,14,14,59,76,84,84,84,87,...,2277,4550,6970,1900,16224,16644,14808,17037,18906,15074

Training

In [60]:
from sklearn.model_selection import train_test_split as tts

In [61]:
# Split dataset into train and test
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)

Import

In [62]:
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()

In [63]:
# Fit the model
linreg.fit(X_train, y_train)

LinearRegression()

 Predict the value

In [64]:

my_pred = linreg.predict(X_test)

In [65]:
my_pred

array([ 7.04248766e+04,  9.59931405e+03,  3.04541495e+04,  2.85076631e+04,
        3.63266417e+03, -2.40750180e+03,  3.10328648e+04,  1.32543218e+04,
        4.36763900e+04,  1.73090660e+04,  1.56907239e+03,  5.78228291e+02,
        2.38458340e+04, -1.53036895e+03,  6.56065250e+03,  1.52743270e+02,
        8.47127935e+03, -3.58631714e+02,  5.02973992e+04,  1.75498366e+04,
       -5.25712311e+03,  8.19237181e+03,  4.10095448e+04,  8.05795443e+03,
        1.16304368e+03,  3.40665382e+04,  1.07125878e+04,  2.66860992e+04,
        2.18947646e+04,  4.02511680e+03,  1.40885885e+03,  8.67980076e+02,
        9.77529930e+04,  6.43896207e+04,  1.34347042e+04,  1.91186150e+04,
        1.09407250e+04,  6.84934371e+03,  8.51194880e+03, -4.11751685e+02,
        2.04422344e+04,  9.29437467e+03,  3.55946339e+04,  9.84003698e+02,
       -2.22379528e+03,  3.34199672e+04,  1.49222603e+04,  2.24953723e+03,
        5.26358074e+03,  1.78838512e+03,  2.59666032e+04,  7.28570785e+03,
        2.07348932e+03,  2.16450279e+03, -7.47546801e+02,  1.25163925e+04,
        1.50346318e+02,  3.17294998e+04, -2.57662403e+03,  1.33224614e+04,
        1.02125753e+04,  6.48443759e+04,  8.04637786e+02,  6.04832409e+03,
        3.70782175e+04,  1.73999323e+05,  6.42714068e+03,  1.95999788e+04,
        1.63875989e+03,  3.38096661e+03,  9.53945027e+03,  1.08275640e+03,
        2.21595747e+04,  1.30556321e+04,  1.19328554e+04,  2.75795351e+04,
        1.42268735e+04,  5.43210497e+03,  1.01928522e+04,  1.67633323e+04,
        1.89904102e+04,  1.66702425e+04,  9.07404499e+03,  6.72072343e+02,
        3.23926175e+03, -5.62469687e+02,  1.41326519e+04,  9.09334950e+03,
        5.67327129e+02,  1.48978388e+04, -1.76492337e+02,  7.52597778e+04,
       -5.23385793e+02,  7.79097756e+03,  3.45992700e+04,  9.82557911e+03,
        2.00702834e+03,  1.91506275e+04,  9.20937541e+03,  1.91648463e+04,
        1.31271601e+04,  6.43085034e+02,  1.74236349e+02,  3.17037114e+04,
        3.13607342e+00, -2.51717403e+02, -9.62194811e-01,  1.15142446e+04,
        1.90444133e+04,  9.43243739e+03,  1.40954189e+04, -1.95510307e+03,
        8.53215532e+03,  1.59736606e+04,  3.43701240e+03,  2.47922380e+03,
        2.40299945e+03,  1.39789253e+03,  5.35302123e+03,  1.10486638e+04,
        2.37238905e+04,  1.20538515e+02,  7.34418965e+03,  1.85189912e+04,
        1.67633074e+02,  8.50676087e+02,  7.18791525e+03, -4.86153877e+03,
        3.50245098e+03,  3.84665937e+03,  1.04972211e+04,  1.72211426e+04,
        5.30071440e+03,  2.12530551e+04,  2.12244936e+04,  6.22608156e+03,
       -3.10636098e+03,  3.30242283e+03, -2.14213858e+03,  4.94852278e+03,
       -1.26913360e+04,  4.28500477e+03,  4.29597192e+02,  1.09356862e+04,
        8.64397241e+03,  9.38534080e+03,  6.19095045e+04,  1.91873621e+04,
        1.26403362e+04,  1.74357232e+03,  2.24485174e+04,  1.53611899e+04,
        1.04879783e+04,  1.23564625e+04,  4.34280159e+03,  1.56355431e+05,
        2.46985468e+04,  8.53755652e+03,  7.15772663e+04,  1.34873311e+04,
        9.36374181e+03,  1.00323162e+05,  1.94634313e+04,  6.58643430e+03,
        1.15224987e+04,  2.19384324e+03,  1.06171760e+04,  2.21908587e+04,
       -2.30007227e+03,  1.94818978e+04, -6.47088711e+01,  6.62894910e+03,
        5.60541608e+03, -1.31407132e+03,  1.72559870e+03,  7.46740787e+03,
        4.09767564e+04,  2.55439914e+04,  1.78493441e+04,  8.32296769e+03,
        2.86866514e+03,  3.18457001e+04,  7.05306334e+03,  1.83531251e+04,
        2.74874516e+04,  9.53852352e+03, -1.57676759e+03,  1.65455570e+04,
        8.34445881e+03, -2.27139650e+02,  1.01568730e+03,  1.45038385e+04,
        9.01109736e+03,  1.01135837e+04,  1.44155402e+04,  5.98366678e+03,
        1.60857873e+04,  1.38804836e+03,  9.84818007e+03,  1.60009163e+02,
        5.17284430e+03,  7.61900990e+02,  2.69144414e+04,  1.97462644e+04,
        5.82886902e+00,  2.02514077e+03,  9.38393983e+03,  4.13179273e+03,
        1.06589716e+04,  5.91157207e+03,  7.26968583e+03,  1.93919293e+04,
        2.69437327e+03,  5.93908670e+03,  2.70715630e+04,  3.25212183e+02,
        2.21342926e+04,  1.79745548e+04,  2.93452073e+03,  1.21008691e+03,
        2.85378459e+04, -2.16272867e+03,  6.28111569e+03,  6.81652604e+02,
       -1.74887317e+03])

Accuracy

In [66]:
my_score = linreg.score(X_test, y_test)

In [67]:
print(my_score)

0.7753030158033063

Total individuals Registered

In [68]:
# Total Individuals Registered
x = []
y = 6
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1346', axis=1, inplace=True)
valid_data.drop('Unnamed: 1356', axis=1, inplace=True)
valid_data.drop('Unnamed: 1366', axis=1, inplace=True)
valid_data.drop('Unnamed: 1376', axis=1, inplace=True)
valid_data.drop('Unnamed: 1386', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.999723350975844

In [69]:
# Prediction for Total Sites
x = []
y = 8
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1348', axis=1, inplace=True)
valid_data.drop('Unnamed: 1358', axis=1, inplace=True)
valid_data.drop('Unnamed: 1368', axis=1, inplace=True)
valid_data.drop('Unnamed: 1378', axis=1, inplace=True)
valid_data.drop('Unnamed: 1388', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

In [70]:
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.7695217307240684

First dose

In [71]:
x = []
y = 9
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1349', axis=1, inplace=True)
valid_data.drop('Unnamed: 1359', axis=1, inplace=True)
valid_data.drop('Unnamed: 1369', axis=1, inplace=True)
valid_data.drop('Unnamed: 1379', axis=1, inplace=True)
valid_data.drop('Unnamed: 1389', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

In [72]:
from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9998013036535163

Second dose

In [73]:
x = []
y = 10
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1350', axis=1, inplace=True)
valid_data.drop('Unnamed: 1360', axis=1, inplace=True)
valid_data.drop('Unnamed: 1370', axis=1, inplace=True)
valid_data.drop('Unnamed: 1380', axis=1, inplace=True)
valid_data.drop('Unnamed: 1390', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9996249098391493

SEX

In [74]:
#Males
x = []
y = 11
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1351', axis=1, inplace=True)
valid_data.drop('Unnamed: 1361', axis=1, inplace=True)
valid_data.drop('Unnamed: 1371', axis=1, inplace=True)
valid_data.drop('Unnamed: 1381', axis=1, inplace=True)
valid_data.drop('Unnamed: 1391', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9998175039910552

In [75]:
# Female
x = []
y = 12
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1352', axis=1, inplace=True)
valid_data.drop('Unnamed: 1362', axis=1, inplace=True)
valid_data.drop('Unnamed: 1372', axis=1, inplace=True)
valid_data.drop('Unnamed: 1382', axis=1, inplace=True)
valid_data.drop('Unnamed: 1392', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9996869616519243

In [76]:
# Transgender
x = []
y = 13
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1353', axis=1, inplace=True)
valid_data.drop('Unnamed: 1363', axis=1, inplace=True)
valid_data.drop('Unnamed: 1373', axis=1, inplace=True)
valid_data.drop('Unnamed: 1383', axis=1, inplace=True)
valid_data.drop('Unnamed: 1393', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9979266751250675

Covaxin

In [77]:
x = []
y = 14
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1354', axis=1, inplace=True)
valid_data.drop('Unnamed: 1364', axis=1, inplace=True)
valid_data.drop('Unnamed: 1374', axis=1, inplace=True)
valid_data.drop('Unnamed: 1384', axis=1, inplace=True)
valid_data.drop('Unnamed: 1394', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.9968212642678281

Covidshield

In [78]:
x = []
y = 15
for i in range(139):
    x.append(y)
    y += 10
valid_data = data.iloc[:, x]
valid_data.drop('Unnamed: 1355', axis=1, inplace=True)
valid_data.drop('Unnamed: 1365', axis=1, inplace=True)
valid_data.drop('Unnamed: 1375', axis=1, inplace=True)
valid_data.drop('Unnamed: 1385', axis=1, inplace=True)
valid_data.drop('Unnamed: 1395', axis=1, inplace=True)
valid_data.drop(0, axis=0, inplace=True)
valid_data = valid_data.dropna()
X = valid_data.iloc[:, :-1]
y = valid_data.iloc[:, -1]

from sklearn.model_selection import train_test_split as tts
from sklearn.linear_model import LinearRegression
linreg = LinearRegression()
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.3, random_state=10)
linreg.fit(X_train, y_train)
my_pred = linreg.predict(X_test)
my_score = linreg.score(X_test, y_test)
print(my_score)

0.999822549234806